.profile__edit-button {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    margin: 0 0 0 18px;
    background-image: url('../../../images/Edit-Button.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}