.element__heart-icon {
    background-image: url('../../../images/Heart-Icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 22px;
    height: 19px;
    transition: opacity .2s ease-in;
}

.element__heart-icon:hover {
    opacity: .5;
}