.element__delete-icon {
    background-image: url('../../../images/Trash-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 18px;
    height: 19px;
    transition: opacity .2s ease-in;

}

.element__delete-icon:hover {
    cursor: pointer;
    opacity: .5;
}