.profile__avatar-container {
  position: relative;
  transition: opacity .2s ease-in;

}

.profile__avatar-container:hover {
  cursor: pointer;
  opacity: .6;

}

.profile__avatar-container::after {

  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  background-image: url('../../../images/Avatar-edit-icon.svg');
  background-size: cover;
  height: 26px;
  width: 26px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s ease-in;

  pointer-events: none;

}

.profile__avatar-container:hover::after {
  opacity: 1;

}
