.popup__container {
  box-sizing: border-box;
  padding: 34px 36px;
  position: relative;
  background-color: #fff;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  cursor: default;
}

@media screen and (max-width: 560px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
    height: 322px;
  }
}