.profile__job {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  margin: 7px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 450px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
  }
}
